body {
	font-family: "Times New Roman", Times, serif;
	background: black ;	
	color: #E1E1E1 ;
}

a {
        color: #f78422 ;
}

.nav ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	text-align: left;
}

.nav li {
  	display: inline;
  	text-align: left;
}

.textBlock {
	background-color: #171717 ;
	border-style: double ;
        width: 65% ;
	margin: auto;
        border: 2px solid #f78422 ;
        padding: 35px ;
	margin: auto;
}
