body {
	font-family: "Times New Roman", Times, serif ;
	background: black ;	
	color: #E1E1E1 ;
}

a {
        color: #f78422 ;
}

h2 {
	color: #D56416 ;
	font-size: 30px ;
	text-decoration-line: underline ;
	font-style: italic ;
	font-style: bold ;
	text-align: center ;
}

.nav ul {
	list-style-type: none ;
  	margin: 0 ;
  	padding: 0 ;
  	text-align: left ;
	display: flex ;
    	justify-content: center ;
    	gap: 2rem ;
}

.nav li {
  	display: inline ;
  	text-align: center ;
}

a:hover {
    color: #ff9f50 ;
}

.textBlock {
	background-color: #171717 ;
	border-style: double ;
        width: 65% ;
        border: 2px solid #f78422 ;
        padding: 35px ;
	margin: auto ;
}
